header {
	width:1278px;
	height:60px;
	background:#1b1e26;
}

#sectionup {
	width:1279px;
	height:465px;
	background:url(../images/sectionUp.png);	
}

footer {
	width:1279px;
	height:225px;
	background:url(../images/footer.png);	
}
#logo {
	margin:3px;
}
#image1 {
	margin-left:60px;
	margin-top:80px;
}
#image2 {
	margin-
}
